body {
    background-color: lightblue;
}

h1 {
    color: navy;
    font-size: 60px;
    
}

h2 {
    color: black;
    font-size: 30px;
}

p {
    color: black;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}

.center {
    text-align: center;
    
}

.code {
    display: block;
    border: 10px solid gray;
    padding: 10px;
    width: 90%;
    margin: auto;
    background-color: lightgray;
    border-radius: 10px;
    text-align: left;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: C74C32
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.double {
    line-height: 2;
}

.tab {
    margin-left: 650px;
}

.paragraph {
    margin-left: 550px;
}
